@page
@model ExplorerModel
@{
    ViewBag.Title = "Home page";
}

@* Display any error messages *@
<partial name="_ErrorMessagePartial" for="@Model.ErrorMessage" />


<div class="row overflow-auto" style="height: 75vh;">
    <div class="col-md-2 background" style="padding-right: 0px;">
        <div id="accordionGrp">
            @foreach (var button in Model.MenuGroupButtons)
            {
                <div class="card" style="width: 100%; padding: 0px; border: 0px; border-radius: 0px;">
                    <div class="card-header background" style="padding: 0px; border: 0px; border-radius: 0px;">
                        <button type="button" class="btn btn-menu-left" @(button.IsDisabled ? "disabled" : "") style="margin: 0px; width: 100%;" data-toggle="collapse" href="#@button.ButtonTextNoSpace" data-toggle="tooltip" data-placement="bottom" title="@button.ToolTip">@button.ButtonText</button>
                    </div>
                    <div class="card-body collapse background" data-parent="#accordionGrp" id="@button.ButtonTextNoSpace" style="padding-left: 10px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;">
                        <div id="accordionRep_@button.ButtonTextNoSpace">
                            @foreach (var btn in button.MenuButtons)
                            {
                                <div class="card" style="width: 100%">
                                    <div class="card-header background" style="padding: 0px;">
                                        @*<button onclickdataview-for type="button" class="btn btn-menu-left" action="Reports" route="@btn.Url/@btn.RenderNatively" style="margin: 0px; width: 100%;" div="#home" data-toggle="tooltip" data-placement="bottom" title="@btn.ToolTip">@btn.ButtonText</button>*@
                                        @*<button type="button" class="btn btn-menu-left" @(btn.IsDisabled ? "disabled" : "") style="margin: 0px; width: 100%;" onclick="setURL('@btn.Url', '@btn.RenderNatively')" data-toggle="collapse" href="#@btn.ButtonTextNoSpace" data-toggle="tooltip" data-placement="bottom" title="@btn.ToolTip">@btn.ButtonText</button>*@
                                    </div>
                                    <div class="card-body collapse background" data-parent="#accordionRep_@button.ButtonTextNoSpace" id="@btn.ButtonTextNoSpace" style="padding-left: 10px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;">
                                        <div>
                                            Test
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-10">
        <div class="row" id="iframe">
            IFrame
            <iframe style="border: 0; position:relative; width:100%; height:100%" src="@ViewBag.IFrameSrc"></iframe>
            IFrame
        </div>
        <div class="row" id="native">
            Native
        </div>
    </div>

</div>

@section Scripts {
    <script>
        function setURL(url, renderNatively) {
            var iframe = document.getElementById('iframe');
            var native = document.getElementById('native');
            if (renderNatively == "False") {
                iframe.src = url;
                iframe.style.visibility = "visible";
                native.style.visibility = "hidden";
            }
            else {
                iframe.src = "";
                iframe.style.visibility = "hidden";
                native.style.visibility = "visible";
            }
        }
    </script>
}