@{ var user = await UserManager.GetUserAsync(User); }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-default border-bottom box-shadow" role="navigation">
            <div class="container-fluid">
                <!-- logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" asp-page="/Index"><img src="~/logo-uvimco.png" width="350" /></a>
                    <button class="btn btn-menu-navbar navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <!-- menu -->
                <div class="navbar-collapse collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link navbar-text dropdown-toggle" id="dropdownMenuNavigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Navigation options">Navigation</a>
                            <ul class="dropdown-menu dropdown" aria-labelledby="dropdownMenuButton">
                                <li class="nav-item"><a class="dropdown-item" asp-page="/Index" div="#home">Home</a></li>
                                <li class="nav-item"><a class="dropdown-item" onclickdataview-for action="About" div="#home">About</a></li>
                                <li class="nav-item"><a class="dropdown-item" onclickdataview-for action="Contact" div="#home">Contact</a></li>
                                <li class="nav-item"><a class="dropdown-item" onclickdataview-for action="Privacy" div="#home">Privacy</a></li>
                            </ul>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link navbar-text" asp-page="/DataLoader" data-toggle="tooltip" data-placement="bottom" title="Place holder for Data Loader">Data Loader</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link navbar-text" onclickdataview-for action="Reports1" route="" div="#home" data-toggle="tooltip" data-placement="bottom" title="Use the Data Loader">Loader</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text" onclickdataview-for action="Reports" route="" div="#home" data-toggle="tooltip" data-placement="bottom" title="View the Reports page">Reports</a>
                        </li>
                    </ul>
                </div>
                @*<ul class="navbar-collapse collapse" id="collapsibleNavbar">
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("USER"))
                    {
                        <li class="nav-item dropdown">
                            <a id="dropdownMenuMySafes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">My Safes</a>
                            <ul class="dropdown-menu dropdown">
                                <li class="nav-item"><a class="dropdown-item" onclickdataview-for action="SafesGrid" route="@(user.Id)" div="#home">My Safes (Grid)</a></li>
                                <li class="nav-item"><a class="dropdown-item" onclickdataview-for action="SafesTable" route="@(user.Id)" div="#home">My Safes (Table)</a></li>
                                <li class="nav-item"><a class="dropdown-item" onclickdataview-for action="CreateSafe" route="@(user.Id)" div="#home">Create Safe</a></li>
                            </ul>
                        </li>
                    }
                    @if (signInManager.IsSignedIn(User) && (await authorizationService.AuthorizeAsync(User, "ManageRolesPolicy")).Succeeded)
                    {
                        <li class="nav-item dropdown">
                            <a id="dropdownMenuRoles" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Roles</a>
                            <ul class="dropdown-menu dropdown">
                                <li><a class="dropdown-item" onclickdataview-for action="Roles" route="" div="#home">All Roles</a></li>
                                @if ((await authorizationService.AuthorizeAsync(User, "CreateRolePolicy")).Succeeded)
                                {
                                    <li><a class="dropdown-item" onclickdataview-for action="CreateRole" route="" div="#home">Create Role</a></li>
                                }
                            </ul>
                        </li>
                    }
                    @if (signInManager.IsSignedIn(User) && (await authorizationService.AuthorizeAsync(User, "ManageUsersPolicy")).Succeeded)
                    {
                        <li class="nav-item dropdown">
                            <a id="dropdownMenuUsers" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Users</a>
                            <ul class="dropdown-menu dropdown">
                                <li><a class="dropdown-item" onclickdataview-for action="Users" route="" div="#home">All Users</a></li>
                                @if ((await authorizationService.AuthorizeAsync(User, "CreateUserPolicy")).Succeeded)
                                {
                                    <li><a class="dropdown-item" onclickdataview-for action="CreateUser" route="" div="#home">Create User</a></li>
                                }
                            </ul>
                        </li>
                    }
                    <li class="nav-item dropdown ml-auto">
                        <a id="dropdownMenuAccount" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Account</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item"><a class="nav-link" onclickdataview-for action="MyAccount" route="@(user.Id)" div="#home">My Account</a></li>
                                <li class="nav-item"><a class="nav-link" onclickdataview-for action="ChangePassword" route="@(user.Id)" div="#home">Change Password</a></li>
                                <li class="nav-item"><hr class="border-top" /></li>
                                <li class="nav-item">
                                    <form method="post" id="formLogOut">
                                    </form>
                                    <a type="submit" class="nav-link" onClickFormView-for action="LogOut" route="" div="#home" request-type="POST" form-name="formLogOut" data-toggle="tooltip" data-placement="bottom" title="Log out of your account">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item"><a class="nav-link" onclickdataview-for action="Register" div="#home">Register</a></li>
                                <li class="nav-item"><a class="nav-link" onclickdataview-for action="LogIn" div="#home">Login</a></li>
                            }
                        </ul>
                    </li>
                </ul>*@
            </div>
        </nav>
    </header>

    <div id="home" class="flex-container" style="margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-left:0px; padding-right: 0px; width: 100%">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Prism - <a asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/notify.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/datatables.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
